<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <h1>App story </h1>
    <div style="text-align: center;">
      <br>
     <h2>Description </h2>
     <p>This app is a CRUD Web Application using Node.js, Express, RESTful API and which helps to schedule, assign, plan and manage the tasks. </p>
     <h2>Architecture  <h2>
      <img src="images/crud-express-mongo.png" alt="Architecture CRUD App" style="width:500px;height:300px;">
     <h2>Tech stack </h2>
     <ul >
      <li><h4>Front-end</h4>
        <ul>
        <li>HTML5, CSS3</li>
        </ul>
      </li>
      <li><h4>Back-end</h4>
        <ul>
        <li>Template engine : Embedded js(ejs)</li>
        <li> Express, Node.js, ES6</li>
        </ul>
      </li>
      <li><h4>Database</h4>
        <ul>
        <li> MongoDB hosted on AWS by mlab</li>
        <li> mLab is MongoDB hosting platform that provides cloud Database-as-a-Service </li>
        </ul>
      </li>

      <li><h4>Client-server communication / Web services</h4>
        <ul>
        <li> RESTful API</li>
        <li> JSON, CRUD Operations </li>
        </ul>
      </li>
      <li><h4>Deployment</h4>
        <ul>
        <li> Heroku</li>
        </ul>
      </li>
       <li><h4>Tools</h4>
        <ul>
        <li> Atom, SourceTree, Postman, cmd</li>
        <li> Version control system : GIT</li>
        </ul>
      </li>
      <li><h4>Source code</h4>
        <ul>
        <li> <a style="font-weight: bold;color: green" href="https://github.com/gurudu/Task-management-app" target="_blank">GitHub</a> </li>
        </ul>
      </li>
    </ul>
    <h2>NOTE  </h2>
    <p>This app is in progress and working on some cross-browser issues!!</p>
  <button id="backButton" onclick="window.history.back()"> Back </button>
    </div>
    
  </body>
  <footer>
    &copy; Hari kumar Gurudu 2017. All Rights Reserved.
  </footer>
</html>
