<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
   h4 {
    text-align: center;
   }
  </style>
  <body>

    <h1> <%= title %></h1>
    <br>
    <br>
    <h4 ><a href="/about">About</a></h4>
    <h4 ><a href="/tasks">Tasks List</a></h4>

  </body>
  <footer>
    &copy; Hari kumar Gurudu 2017. All Rights Reversed.
  </footer>
</html>
